<!--middle-container-->
  <div class="container-fluid ">
    <div class="row-fluid ">
      <div class="span12 graybg ">
        <div class="outer-wrapper">
          <div class=" signin-wrapper contact">
            <div class="title">About Crossper</div>
            <div class="signin-box">
            <div>
                  <p class="header-text">Crossper is an advertising network that connects users to relevant neighborhood businesses by enabling stores to cross-promote each other.
                      <br>   <br>Users want discounts for goods and services in their neighborhood based on their interests and location. 
                      <br>Crossper enables discovery of these deals as users visit our local businesses every day. 
                      <br>At the same time, businesses want a fast, easy and cost-effective way of driving footfalls.
                      <br>Via Crossper, businesses can now cross promote and prosper.  Crossper is building the knitting that brings local businesses and customer communities together.
                      <br>   <br>Crossper is founded by internet industry veterans who have several years of experience in the Local business and Offers space.  We invite you to download the Crossper app or sign in as a business and join the movement to build vibrant neighborhood business and user communities.
                  </p>               
            </div>              
              <div class=" clearfix"></div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
  <!--middle-container--> 