<div class="row-fluid">
	<div class="span12">
		<div class="info-block editOffer">
			<p>
				<i>Create Offer</i>
			</p>
			<div class=" pull-right">
				<a href="#" class="cancel"><span>Cancel</span></a>
				<a href="#" id="createOffer" class="btn btn-medium-create btn-save">Create Offer</a>
			</div>
			<ul class="register-form">
				<li class="adjPreview"><label class="width20per">Title:</label>
					<input type="text" name="title" class="textbox70 sucess-border"
					placeholder="Free cookie with a purchase of coffee or tea">
					<span class="sucess-icon ci-sprite"></span></li>
				<li class="preview "></li>
				<li class="adjPreview"><label class="width20per">Description:</label>
					<textarea class="textarea" name="description" placeholder="Maecenas dolor eros, sodales sit amet viverra at, cursus ut nulla. Sed sem orci, condimentum molestie elementum eu, interdum ac purus. In sed consequat ipsum. Fusce dapibus felis nec tellus ornare mattis. Maecenas a augue non dui hendrerit volutpat."></textarea>
				</li>

				<li><label class="width20per">Start Date:</label> 
					<input name="startDate" class="textbox-medium sucess-border datepicker ci-sprite" data-role="datebox" data-options='{"mode": "calbox"}' 
					placeholder="04 / 11 / 13">
				</li>
				<li><label class="width20per">End Date:</label> 
					<input name="endDate" class="textbox-medium sucess-border datepicker" data-role="datebox" data-options='{"mode": "calbox"}' 
					 placeholder="04 / 11 / 13">
				</li>
				<li>
					<label class="width20per marginT8">Validity:</label> 
					<span class="width65per"> 
						<input name="validity" id="" type="radio" class=" float-left"> 
						<label for="checkbox-11" class="qunty-label" data-iconpos="right">Everyday</label>
					</span> 
					<span class="width65per"> 
						<input name="validity" id="" type="radio" class=" float-left"> 
						<label for="checkbox-12" class="qunty-label " data-iconpos="right">Weekdays</label>
					</span> 
					<label class="width20per marginT8">&nbsp;</label> 
					<span class="width65per"> 
						<input name="validity" id="" type="radio" class=" float-left">
						<label for="checkbox-13" class="qunty-label " data-iconpos="right">Weekends only</label>
					</span>
				</li>
				<li>
					<span class="width20per">
					<label for="checkbox-1a" class="qunty-label " data-iconpos="right">Limited Qty:</label> 
						<input name="limitedQuantity" id="checkbox-1a" type="checkbox"> 
					</span> 
					<span class=" display-inline-block"> 
						<label class="width15per">Quantity:</label> 
						<input type="text" name="quantity" class="textbox-mini sucess-border" placeholder="100"> 
						<span class="sucess-icon ci-sprite pull-right"></span>
					</span>
				</li>
			</ul>
			<div class=" clearfix"></div>
		</div>
	</div>
</div>
