<div class="container-fluid ">
    <div class="row-fluid ">
      <div class="span12 graybg ">
        <div class="outer-wrapper">
          <div class="register-wrapper">
            <div class="register-steps-block">
              <div class="register-steps-back">
                <ul>
                  <li  id="step1"><span class="number">1</span>
                    <label class="text">Business Info</label>
                  </li>
                  <li id="step2"><span class="number">2</span>
                    <label  class="text">Create Offers</label>
                  </li>
                  <li class="active" id="step3"><span class="number">3</span>
                    <label  class="text">Confirmation</label>
                  </li>
                </ul>
              </div>
            </div>

<!-- registration 3-->
<div class="register-box pad25px"  id="register3">
              <div class="title">You're now ready to cross promote & prosper!</div>
              <div class="text">
                <p>Print the QR code Flyer and place it in prominent locations across your store.  Customers will scan this code at your store and get offers for nearby businesses.  <strong>As more customers scan this flyer at your store, you benefit as we advertise your business more at neighborhood stores.</strong></p>
              </div>
              <div class=" width-full-100per mart15px text-center span12"> <a href="#." id="email-qr-code" class=" btn btn-primary big-buttontext floatnone ">Print QR Code</a> </div>
              <div class=" clearfix"></div>
</div>
