
<!--middle-container-->
<div class="container-fluid ">
	<div class="row-fluid ">
		<div class="span12 dashboard-graybg ">
			<div class="outer-wrapper dashboard-wrapper">
				<div class="span3 left-tab-panel" id="home-left">
					<ul class="nav nav-tabs" id="myTab">
						<li class="active"><a data-toggle="tab" id="dashbordTab">Dashboard</a></li>
						<li><a data-toggle="tab" id="offersTab">Offers</a></li>
						<li><a data-toggle="tab" id="promotersTab">Promoters</a></li>
						<li class="setting"><a data-toggle="tab" id="settingsTab">Settings</a></li>
						<li><a data-toggle="tab" id="locationsTab">Locations</a></li>
						<li><a data-toggle="tab" class="print-button"
							id="printQRCode">Print qr code<span class="icon-print"></span>
						</a></li>
					</ul>
					<div></div>
				</div>
				<div class="span9">
					<div class="span8">
						<div class="tab-content" id="myTabContent">
						</div>
					</div>
					<div class="span4" id="home-right"></div>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<!--middle-container-->