<div class="row-fluid">
	<div class="span12">
		<div class="info-block">
			<h5>
				<a id="addOffer" class="btn btn-medium-create pull-right">
					Create offer
				</a>
				 Active Offers
			</h5>
		</div>
	</div>
</div>
<div class="row-fluid">
	<div class="span12 ">
		<div class="info-block1" id="offersContainer">
			
		</div>
	</div>
</div>

<div>
	<div class="info-block">
		<h5>Offer History</h5>
		<div class="row-fluid">
			<div class="span12 offer-history">
				<div class="span1">
					<div class="history-img-block"></div>
				</div>
				<div class="span8">
					<a href="#.">Sam Cook</a> claimed an offer from <a href="#.">Papa's
						Pizza</a>
				</div>
				<div class="span2">4 / 11 / 13</div>
			</div>
		</div>
	</div>
</div>
