
<div id="printqr" class="tab-pane fade  ">
	<div class="row-fluid">
		<div class="span12">
			<div class="info-block">
				<h5>Print QR Code</h5>
			</div>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span12 info-block1">
			<div class="register-info">Lorem ipsum oratio consul explicari
				duo te, civibus mnesarchum eum eu. Nec movet aliquam inermis at. Eos
				in quem fastidii. Mei dolores suscipit at, ea verear accommodare
				nam. Ex ius erroribus salutatus, usu ad doming iriure philosophia,
				eum.</div>
			<div>
				<ul class="qrcode-flyer">
					<li>
						<div class="border">
							<img src="../images/web/flayer1.png" alt="flyer1">
						</div>
						<div class="text-center">
							<span class="border-gray1 mart15px"><a href="#."
								class="btn btn-gray-edit">Download PDF</a></span>
						</div>
					</li>
					<li>
						<div class="border">
							<img src="../images/web/flayer2.png" alt="flyer1">
						</div>
						<div class="text-center">
							<span class="border-gray1 mart15px"><a href="#."
								class="btn btn-gray-edit">Download PDF</a></span>
						</div>
					</li>
					<li>
						<div class="border">
							<img src="../images/web/flayer1.png" alt="flyer1">
						</div>
						<div class="text-center">
							<span class="border-gray1 mart15px"><a href="#."
								class="btn btn-gray-edit">Download PDF</a></span>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>