              <!---- Promotion Usage ----->
              <div class="marb-10px">
                <h4>Promotion Usage</h4>
                <div class="progress progress-striped active">
                  <div class="bar" style="width: 40%;"></div>
                </div>
                <div> <span class="width37per"><span class="font12green">$6,532</span> <span class="font12">Budget</span></span> <span class="width37per"> <span class="font12">$2,231</span> <span class="font12">Spent</span></span> <a href="#" class="btn btn-small pull-right">Upgrade</a> </div>
                <div class="clearfix"></div>
              </div>
              
              <!---- Quick Stats ----->
              <div class="marb-10px">
                <h4>Quick Stats</h4>
                <div class="tabbable" id="quickstats"> <!-- Only required for left/right tabs -->
                  <ul class="nav nav-tabs nav-stats">
                    <li><a href="#stats3" data-toggle="tab">YTD</a></li>
                    <li><a href="#stats2" data-toggle="tab">90 Days</a></li>
                    <li class="active"><a href="#stats1" data-toggle="tab">30 Days</a></li>
                  </ul>
                  <div class="tab-content stats-content">
                    <div class="tab-pane active" id="stats1">
                      <ul class="stats-list">
                        <li>
                          <div class="white-border"><span class="stats-name">Promoted</span><span class="stats-value">254</span></div>
                          <div class="border-right"></div>
                          <div class="stats-right"><span class="graph-per"></span><span>12.5%</span></div>
                        </li>
                        <li>
                          <div class="white-border"><span class="stats-name">Claimed</span><span class="stats-value">254</span></div>
                          <div class="border-right"></div>
                          <div class="stats-right"><span class="graph-per"></span><span>12.5%</span></div>
                        </li>
                        <li>
                          <div class="white-border"><span class="stats-name">Scanned</span><span class="stats-value">78</span></div>
                          <div class="border-right"></div>
                          <div class="stats-right"><span class="graph-per"></span><span>9.5%</span></div>
                        </li>
                      </ul>
                    </div>
                    <div class="tab-pane" id="stats2">
                      <ul class="stats-list">
                        <li>
                          <div class="white-border"><span class="stats-name">Claimed</span><span class="stats-value">254</span></div>
                          <div class="border-right"></div>
                          <div class="stats-right"><span class="graph-per"></span><span>12.5%</span></div>
                        </li>
                        <li>
                          <div class="white-border"><span class="stats-name">Scanned</span><span class="stats-value">78</span></div>
                          <div class="border-right"></div>
                          <div class="stats-right"><span class="graph-per"></span><span>9.5%</span></div>
                        </li>
                      </ul>
                    </div>
                    <div class="tab-pane" id="stats3">
                      <ul class="stats-list">
                        <li>
                          <div class="white-border"><span class="stats-name">Promoted</span><span class="stats-value">254</span></div>
                          <div class="border-right"></div>
                          <div class="stats-right"><span class="graph-per"></span><span>12.5%</span></div>
                        </li>
                        <li>
                          <div class="white-border"><span class="stats-name">Scanned</span><span class="stats-value">78</span></div>
                          <div class="border-right"></div>
                          <div class="stats-right"><span class="graph-per"></span><span>9.5%</span></div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="clearfix"></div>
              </div>
              
              <!---- Quick Stats ----->
              <div class="marb-10px">
                <h4><a href="#." class="pull-right black-link">View All</a>Top Promoters</h4>
                <ul class="stats-list">
                  <li>
                    <div class="white-border-full"> Papa's Pizza</div>
                  </li>
                  <li>
                    <div class="white-border-full"> Cinerama Theatre</div>
                  </li>
                  <li>
                    <div class="white-border-full"> Toms Turkey Sandwhiches</div>
                  </li>
                  <li>
                    <div class="white-border-full"> Bobs Burgers</div>
                  </li>
                  <li>
                    <div class="white-border-full"> Sullys Icecream & Desserts</div>
                  </li>
                </ul>
                <div class="clearfix"></div>
              </div>
