<div style=" width: 700px; margin-left: 300px;">
		<div style="float:right;margin-right:150px;">
			<input type="button" class="saveOfferBtn" value="Delete Offer">
			
			<input type="button" class="saveOfferBtn" value="Save Offer">
			
		</div>
		<br>
		<table>
		<tr>
			<td ><label class="titleLabel">Title:</label></td>
			<td colspan="3"><input type="text" id="offerTitle" class="editTitle" value="{{title}}" /></td>
		</tr>
		<tr>
			<td><label class="titleLabel">Description:</label></td>
			<td colspan="3"><textarea id="offerDescription" class="editDescription"> {{description}}</textarea></td>
		</tr>
		<tr>
		
			<td><label class="titleLabel">Start Date:</label></td>
			<td><input type="text" id="offerStartDate" value="{{startDate}}" /></td>
			<td><label class="titleLabel">End Date:</label></td>
			<td><input type="text" id="offerEndDate" value="{{endDate}}" /></td>
		</tr>
		<tr>
		
			<td><label class="titleLabel">Limited Qty:</label></td>
			<td><input type="checkbox" /></td>
			<td><label class="titleLabel">Quantity:</label></td>
			<td><input type="text" id="offerQuantity" value="{{quantity}}" /></td>
		</tr>
		
		</table>
		
		
		
		
	</div>
