<div style=" width: 700px; margin-left: 300px;">
	<label class="titleLabel">
		{{title}}
	</label>
	<input type="button" class="editOfferBtn" value="Edit Offer">
	<br>
	<span>{{startDate}} to {{endDate}}</span>
	<p style=" width: 600px;">{{description}}</p>
		<div class="prompted"> 
			<div >promoted {{promoted}}</div>
			<div class="promotedPercentage">{{promotedPercentage}}%</div>
		</div>
		
		<div class="prompted">
			<div>claimed {{claimed}}</div>
			<div class="promotedPercentage">{{claimedPercentage}}%</div>
		</div>
</div>
