
<div class="register-steps-block">
	<div class="register-steps-back">
		<ul>
			<li><a class="number">1</a> <label class="text">Business
					Info</label></li>

			<li><a class="number">2</a> <label class="text">Create
					Offers</label></li>

			<li class="active"><a class="number">3</a> <label
				class="text">Confirmation</label></li>
		</ul>
	</div>
</div>

<!-- registration 3-->
<div class="register-box" id="register3">

	<div class="alert alert-error errorText" style="display:none" id="serverErrorDiv">
 
	</div>
	<div class="title">You're now ready to cross promote & prosper!</div>
	<div class="">Offer you just created is promoted to customers via Crossper mobile App. Check your email to print QR code. Print the flyer. Promote Crossper offers and get promoted by the Crossper community. Log in to www.crossper.com. You can track your offers, create more offers and check who is promoting you.</div>

	<div class=" clearfix"></div>
	<a id="email-qr-code" class="button save-button" data-role="button"> E-Mail
		QR Code</a>

</div>


