	<!-- Master Block-->
	
		<!-- Header Block-->
		<header data-role="header" >
			<div class="ci-header-inner clearfix">
				<!-- Logo-->
				<div class="ci-logo">
					<a href="index.html" data-transition="slide"><img src="/crossper/images/mobile/logo.png" alt="" /></a>
				</div>
                <!-- Tagline-->
			<div class="tagline">Local Business Deals</div>
            <!-- facebook button-->
				<div class="ci-facebook">
					<a id="fb-login-button" data-transition="slide"><img src="/crossper/images/mobile/fb_button.png" alt="" /></a>
				</div>
			</div>
		</header>
		<!-- Middle Block -->
		<section data-role="content" class="clearfix content-wrapper">
			<!-- or-->
			<div class="ui-border position-relative"><span class="ui-or">OR</span></div>
            
            
           <div class="text-center clearfix">   <a class="button orange-button" id="signUp" data-role="button" > Sign Up</a></div>
            
           <div class="text-center">   <a class="button blue-button" id="signIn" data-role="button" > Login</a></div>
   
          <div class="text-center ">  <a href="#." class="gray-text">Forget your password or username?</a></div>
             
           <div class="text-center  clearfix">   <a class="button gray-button" id="businessSignUp" data-role="button" > <span class="ci-sprite own-icon">Own a business?</span></a></div>
            
		</section>
		
	