		<!-- Header Block-->
	  <header data-role="header">
			<div class="ci-header-main clearfix">
			<a class="showMenu ci-sprite"><span class="ci-menu-icon ci-sprite "></span></a>
			<a id="searchIcon"><span class="ci-search-icon ci-sprite marl-10px"></span></a>	
    

            <div id="navbarDiv" data-role="navbar" class="float-left ci-offer-tabs">
                <ul id="filtersUl">
                    <li class="first"><a id="allOffersButton">All Offers</a></li>
                    <li><a>Distance</a></li>
                    <li class="last"><a id="categoriesButton">Categories</a></li>
                </ul>
            </div>
            <div id="searchInputDiv" style="display: none;">
                 <input type="search" name="password" id="searchInput" value="" class="ui-body-b" />
            </div>
    
			</div>
		</header>
        
		<!-- Middle Block -->
		<section data-role="content" id="offerContainer" class="clearfix content-wrapper offer-list"  style="position:absolute;">
        
		</section>
		<div data-role="content">
      	<div data-role="popup" data-corners="false" data-theme="none" data-overlay-theme="a" data-tolerance="1,1" id="scanPopup">
		
	 	</div>
	 	<div data-role="popup" data-corners="true" data-theme="e" class="ui-content" id="notificationPopup">
		
	 	</div>
		</div>
        <!-- Footer Block-->
		<footer data-role="footer" data-position="fixed" data-tap-toggle="false" class="ci-offer-footer">
			<div class="ci-footer-inner clearfix">
			<a id="scanOffer" data-role="button" class="scan-offer-button">scan offer</a>
			</div>
		</footer>
        <!-- Footer Block-->
  