		<!-- Header Block-->
	  <header data-role="header"  >
			<div class="ci-header-main clearfix">
			<a href="#." class="showMenu ci-sprite "><span class="ci-menu-icon ci-sprite "></span></a>
            <span class="ci-sprite ci-menu-seperator"></span>
			<a href="#."><span class="ci-setting-icon ci-sprite"></span></a>	
    
    <input type="search" name="password" id="search" value="" class="ui-body-b" />
    
	</div>
		</header>
		<!-- Middle Block -->
		<section data-role="content" class="clearfix content-wrapper">
			<!-- offer1-->
			<div class="offer-border  clearfix">
            <div class="offer-logo"><img src="../images/mobile/mobile_top_bg.png" width="640" height="521" alt="img"></div>
             <div class="offer-details">
             <div class="clearfix mar-b-1em"><span class=" title">Save 50% on select baked goods!</span> <span class="ci-sprite deleteoffer-icon"></span></div>
             <div><span class="name">Peets Coffee & Tea</span>
                        <span class="validity"><span class=" text-bold">23</span>Days</span>
             <span class="distance"><span class=" text-bold">1.2</span> Miles<a href="#." class="ci-sprite icon-miles"></a></span>
             
             </div>
             
             </div>
            <div class="decription-block display-none">
             <span class="decription">
             Suspendisse elementum risus ac magna malesuada ultricies.
              Sed sit amet mauris est, ac pharetra velit. Ut congue ullamcorper aliquam. 
              Quisque lacus tortor, tincidunt vel tempor.
              </span>
              <span class="redeem-button-block">
              
              <a class="button redeem-button" data-role="button"  href="#.">Redeem</a>
              
              </span>
              </div>
            </div>
            <!-- offer2-->
			<div class="offer-border  clearfix">
            <div class="offer-logo"><img src="../images/mobile/mobile_top_bg.png" width="640" height="521" alt="img"></div>
             <div class="offer-details">
             <div class="clearfix mar-b-1em"><span class=" title">Save 50% on select baked goods!</span> <span class="ci-sprite deleteoffer-icon"></span></div>
             <div><span class="name">Peets Coffee & Tea</span>
                        <span class="validity"><span class=" text-bold">23</span>Days</span>
             <span class="distance"><span class=" text-bold">1.2</span> Miles<a href="#." class="ci-sprite icon-miles"></a></span>
             
             </div>
             
             </div>
            <div class="decription-block display-none">
             <span class="decription">
             Suspendisse elementum risus ac magna malesuada ultricies.
              Sed sit amet mauris est, ac pharetra velit. Ut congue ullamcorper aliquam. 
              Quisque lacus tortor, tincidunt vel tempor.
              </span>
              <span class="redeem-button-block">
              
              <a class="button redeem-button" data-role="button"  href="#.">Redeem</a>
              
              </span>
              </div>
            </div>
            <!-- offer3-->
			<div class="offer-border  clearfix">
            <div class="offer-logo"><img src="../images/mobile/mobile_top_bg.png" width="640" height="521" alt="img"></div>
             <div class="offer-details">
             <div class="clearfix mar-b-1em"><span class=" title">Save 50% on select baked goods!</span> <span class="ci-sprite deleteoffer-icon"></span></div>
             <div><span class="name">Peets Coffee & Tea</span>
                        <span class="validity"><span class=" text-bold">23</span>Days</span>
             <span class="distance"><span class=" text-bold">1.2</span> Miles<a href="#." class="ci-sprite icon-miles"></a></span>
             
             </div>
             
             </div>
            <div class="decription-block display-none">
             <span class="decription">
             Suspendisse elementum risus ac magna malesuada ultricies.
              Sed sit amet mauris est, ac pharetra velit. Ut congue ullamcorper aliquam. 
              Quisque lacus tortor, tincidunt vel tempor.
              </span>
              <span class="redeem-button-block">
              
              <a class="button redeem-button" data-role="button"  href="#.">Redeem</a>
              
              </span>
              </div>
            </div>
            <!-- offer4-->
			<div class="offer-border  clearfix">
            <div class="offer-logo"><img src="../images/mobile/mobile_top_bg.png" width="640" height="521" alt="img"></div>
             <div class="offer-details">
             <div class="clearfix mar-b-1em"><span class=" title">Save 50% on select baked goods!</span> <span class="ci-sprite deleteoffer-icon"></span></div>
             <div><span class="name">Peets Coffee & Tea</span>
                        <span class="validity"><span class=" text-bold">23</span>Days</span>
             <span class="distance"><span class=" text-bold">1.2</span> Miles<a href="#." class="ci-sprite icon-miles"></a></span>
             
             </div>
             
             </div>
            <div class="decription-block display-none">
             <span class="decription">
             Suspendisse elementum risus ac magna malesuada ultricies.
              Sed sit amet mauris est, ac pharetra velit. Ut congue ullamcorper aliquam. 
              Quisque lacus tortor, tincidunt vel tempor.
              </span>
              <span class="redeem-button-block">
              
              <a class="button redeem-button" data-role="button"  href="#.">Redeem</a>
              
              </span>
              </div>
            </div>
            <!-- offer5-->
			<div class="offer-border offer-border-active  clearfix">
            <div class="offer-logo"><img src="../images/mobile/mobile_top_bg.png" width="640" height="521" alt="img"></div>
             <div class="offer-details">
             <div class="clearfix mar-b-1em"><span class=" title">Save 50% on select baked goods!</span> 
             <span class="ci-sprite deleteoffer-icon" style="display:inline-block !important"></span></div>
             <div><span class="name">Peets Coffee & Tea</span>
                        <span class="validity"><span class=" text-bold">23</span>Days</span>
             <span class="distance"><span class=" text-bold">1.2</span> Miles<a href="#." class="ci-sprite icon-miles"></a></span>
             
             </div>
             
             </div>
            <div class="decription-block ">
             <span class="decription">
             Suspendisse elementum risus ac magna malesuada ultricies.
              Sed sit amet mauris est, ac pharetra velit. Ut congue ullamcorper aliquam. 
              Quisque lacus tortor, tincidunt vel tempor.
              </span>
              <span class="redeem-button-block">
              
              <a class="button redeem-button" data-role="button"  href="#.">Redeem</a>
              
              </span>
              </div>
            </div>
            <!-- offer6-->
			<div class="offer-border  clearfix">
            <div class="offer-logo"><img src="../images/mobile/mobile_top_bg.png" width="640" height="521" alt="img"></div>
             <div class="offer-details">
             <div class="clearfix mar-b-1em"><span class=" title">Save 50% on select baked goods!</span> <span class="ci-sprite deleteoffer-icon"></span></div>
             <div><span class="name">Peets Coffee & Tea</span>
                        <span class="validity"><span class=" text-bold">23</span>Days</span>
             <span class="distance"><span class=" text-bold">1.2</span> Miles<a href="#." class="ci-sprite icon-miles"></a></span>
             
             </div>
             
             </div>
            <div class="decription-block display-none">
             <span class="decription">
             Suspendisse elementum risus ac magna malesuada ultricies.
              Sed sit amet mauris est, ac pharetra velit. Ut congue ullamcorper aliquam. 
              Quisque lacus tortor, tincidunt vel tempor.
              </span>
              <span class="redeem-button-block">
              
              <a class="button redeem-button" data-role="button"  href="#.">Redeem</a>
              
              </span>
              </div>
            </div>
            
		</section>
				
			<!-- Footer Block-->
		<footer data-role="footer" data-position="fixed" data-tap-toggle="false">
			<div class="ci-footer-inner clearfix">
				<a id="scanOffer" data-role="button" class="scan-button">scan offer</a>
			</div>
		</footer>	
