<div class="offer-image-block">
	<a href="#popupBasic" data-rel="dialog" data-transition="none"> <img
		src="../businesses/{{businessId}}/businessPhoto" width="162" height="160" alt="">
	</a>
</div>
<div class="offer-description-block float-left">
	<span class="ci-sprite favourties"></span>
	<span id="deleteOffer" class="ci-sprite deleteoffer-icon"></span>
	<div class="offer-stall-name">{{businessInfo.name}}</div>
	<div class="offer-title-line">{{title}}</div>
	<div>
		<span class="offer-city-name float-left">{{businessInfo.address}}</span> 
		<span class="offer-distance float-right"> 1.2 Miles</span>
	</div>
	<div class="clearfix"></div>
</div>
